In [6]:
import pandas as pd
import pyarrow.parquet as pq

table = pq.read_table("/tmp/osm/ways_01_000001.parquet")
print(table.schema)
df = table.to_pandas()
df

id: int64 not null
tags: map<string ('keys'), string ('values') ('tags')>
  child 0, tags: struct<keys: string not null, values: string> not null
      child 0, keys: string not null
      child 1, values: string
nodes: list<item: int64>
  child 0, item: int64
version: int32
timestamp: int64
changeset: int64
uid: int64
user_sid: string

,id,tags,nodes,version,timestamp,changeset,uid,user_sid
0,4939011,"[(source, PGS), (natural, coastline)]","[32488548, 32478399, 32505356, 32493716, 32485...",24,1679435026,NaN,NaN,None
1,4939181,"[(source, PGS), (natural, coastline)]","[32514814, 32491154, 32479782, 32510334, 32504...",14,1633930679,NaN,NaN,None
2,4939184,"[(natural, coastline), (source, PGS)]","[32489504, 1369558201, 1369558200, 32479364, 3...",6,1633920658,NaN,NaN,None
3,4939194,"[(natural, coastline), (source, PGS)]","[4115000912, 32507943, 32477906, 32490537, 325...",12,1460405077,NaN,NaN,None
4,4939198,"[(natural, coastline), (source, PGS)]","[32516857, 32484570, 32493430, 32509486, 32478...",11,1679435026,NaN,NaN,None
...,...,...,...,...,...,...,...,...
510995,11309438,"[(surface, asphalt), (tiger:county, Santa Rosa...","[100536881, 5225403134, 100583641]",5,1512359393,NaN,NaN,None
510996,11309439,"[(tiger:zip_left, 32571), (tiger:cfcc, A41), (...","[100583645, 100583646]",2,1356495978,NaN,NaN,None
510997,11309440,"[(tiger:county, Santa Rosa, FL), (tiger:review...","[100583649, 100583651, 100583653, 100583655, 1...",2,1360181928,NaN,NaN,None
510998,11309441,"[(name, Wellington Court), (tiger:name_type, C...","[100583664, 100583666]",2,1357111335,NaN,NaN,None
510999,11309442,"[(tiger:reviewed, no), (tiger:county, Santa Ro...","[100583670, 100583671, 100554133, 100583673, 1...",23,1671546325,NaN,NaN,None